# Python
__pycache__/
*.py[cod]
*.pyo
*.so
*.pyd
*.egg-info/
.env
.venv/
venv/
ENV/

# OS cruft
.DS_Store
Thumbs.db

# IDE (PyCharm/IntelliJ)
.idea/
*.iml

# Jupyter (if you add notebooks later)
.ipynb_checkpoints/

